<div
    *ngIf="!!password"
    class="background"
    [style.width.px]="xDmgScreenResolution"
    [style.height.px]="yDmgScreenResolution"
>
    <ng-container *ngFor="let coordinate of password?.password">
        <img
            src="./assets/images/fixed-bullet.png"
            [alt]="coordinate"
            [class]="coordinate"
            [title]="coordinate"
            [style.position]="'absolute'"
            [style.width.px]="bulletDiameter"
            [style.height.px]="bulletDiameter"
            [style.margin-left.px]="x(coordinate)"
            [style.margin-top.px]="y(coordinate)"
        />
    </ng-container>
</div>